.gitignore
SauveCraft-2*.zip
natives/
saves/
asm/
patches/
local/
instance.cfg
*InvTweaks.cfg*
minecraft/config/*
minecraft/options
minecraft/journeymap/
minecraft/knowledge/
minecraft/reports/
minecraft/resourcepacks/
minecraft/BotaniaVars.dat/
minecraft/icon.png/
minecraft/options.txt
minecraft/usernamecache.json
minecraft/BotaniaVars.dat
minecraft/icon.png
*logs/
.packignore
*worldedit.properties
*CarpentersBlocksCachedResources.zip
*ChocoCraft*
*CustomMobSpawner*
*MoCreatures*
*Zelda*
*journeymap*
*ForgeEssentials*
*forgeessentials*
*.dll
*Dynmap*
*worldedit*
*splash.properties*