.gitignore
SauveCraft-2*.zip
saves/
asm/
patches/
local/
instance.cfg
minecraft/config/InvTweaks.cfg
minecraft/config/NEI/client.cfg
minecraft/config/enderio/mobTypes.txt
minecraft/config/splash.properties
minecraft/options
minecraft/journeymap/
minecraft/knowledge/
minecraft/reports/
minecraft/resourcepacks/
minecraft/BotaniaVars.dat/
minecraft/icon.png/
minecraft/options.txt
minecraft/usernamecache.json
minecraft/BotaniaVars.dat
minecraft/icon.png
*logs/
.packignore
*worldedit.properties
*CarpentersBlocksCachedResources.zip
*ChocoCraft*
*CustomMobSpawner*
*MoCreatures*
*Zelda*
*journeymap*
*ForgeEssentials*
*forgeessentials*
*.dll
*Dynmap*
*worldedit*
*splash.properties*